<div id="<%= dom_id friend %>">
<table class="table table-striped ">

    <tbody>
      
        <tr>
          <td><%= friend.first_name %> </td>
          <td><%= friend.last_name %> </td>
          <td><%= friend.phone %> </td>
          <td><%= friend.email %> </td>
          <td><%= friend.twitter %> </td>
          <td><%= friend.solana_wallet %> </td>
          <td><%= friend.etherium_wallet %> </td>
          <td> <%= link_to "Show this friend", friend %></td>
          
          
          
          
          
          
          <td></td>
          
        </tr>
    
    </tbody>
  </table>
  

</div>
